# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# General
.DS_Store
.idea
.vscode
*.iml
*.ipr
*.iws

# Sensitive files
*.keystore
*.jks
*.cer
key.properties
local.properties

# Flutter/Dart/Pub related
build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# iOS-specific
ios/Pods/
ios/Podfile.lock
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/ephemeral/
ios/Flutter/engine.podspec
ios/Flutter/.last_build_id

# Symbolication and Obfuscation
app.*.symbols
app.*.map.json